main {
  margin: 0 20px;
}
h1 {
  margin: 40px 0 20px 0;
}
h2,
h3 {
  margin-bottom: 20px;
}
figure,
p {
  margin-bottom: 20px;
}
.knapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-column: 2;
  align-self: start;
}
.section-divider {
  width: 300px;
  height: 2px;
  background-color: #ff7a45;
  margin: 4rem auto;
  border-radius: 2px;
}

@media (width >950px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  h1,
  h2 {
    grid-column: 1 / -1;
  }

  .indhold {
    grid-column: 1 / -1;
  }

  .introduktion {
    grid-column: 2;
  }

  .billede-1 {
    grid-column: 1;
    grid-row: 2/3;
    margin-bottom: 100px;
  }

  .section-divider {
    grid-column: 1/-1;
    width: 700px;
  }
  .temaopgave-2 {
    margin-top: 60px;
  }
}
