main {
  margin: 0 20px;
}
h1 {
  margin: 40px 0 20px 0;
}

img,
p {
  margin-bottom: 20px;
}
.knapper {
  display: flex;
  grid-column: 2;
  justify-content: center;
  margin-bottom: 80px;
}

@media (width >950px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  img {
    grid-column: 1;
  }
  p {
    grid-column: 2;
  }
  .btn {
    grid-column: 2;
  }
}
