main {
  margin: 0 20px;
}
h1 {
  margin: 40px 0 20px 0;
}

img,
p {
  margin-bottom: 20px;
}
.knapper {
  display: flex;
  grid-column: 2;
  justify-content: center;
  margin-bottom: 80px;
}
@media (width >950px) {
  h1 {
    grid-column: 1 / -1;
  }
  .indhold {
    grid-column: 1 / -1;
  }
  .opgave-1,
  .opgave-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .opgave-1 {
    margin-bottom: 80px;
  }
  .opgave-1 img {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .opgave-1 p {
    grid-column: 2;
  }
  .opgave-2 img {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
  .opgave-2 .knapper {
    grid-column: 1;
  }
}
