* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
}
img {
  width: 100%;
  height: auto;
}

/* header */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.logo img {
  width: 50px;
  height: 50px;
}
nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-right: 20px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  text-align: left;
  display: block;
  padding: 10px;
  color: #ff7243;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}
.menu a:hover {
  color: #000;
}
.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.burger .line {
  width: 45px;
  height: 4px;
  background-color: #ff7243;
  display: block;
}

/* Font */
@font-face {
  font-family: Helvetica;
  src: url(../font/HelveticaNeueLight.woff);
}

body {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  color: #ff7243;
}
h2 {
  color: #ff7243;
}
h3 {
  font-size: 1.3rem;
}
p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

/* knap */
.btn {
  display: block;
  width: fit-content;
  margin: 20px auto 0;
  padding: 20px 40px;
  background-color: #ff7243;
  color: #fff;
  text-decoration: none;
}
.btn:hover {
  background-color: #fe906f;
}
.btn:active {
  background-color: #f6c7b7;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  color: #777;
}

@media (max-width: 800px) {
  .burger {
    display: flex;
  }
  .menu {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background: white;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  .menu.active {
    display: flex;
  }
}
